@use "../../../common/style/colors" as *;

.month-cell {
  display: inline-block;
  width: 33%;
  padding: .8rem .3rem;
  text-align: center;

  font-size: .89rem;

  &:hover {
    color: $current;

    cursor: pointer;
  }
}