@use "../../../common/style/colors" as *;
@use "../../../common/style/breakpoints" as *;
@import "../../../common/style/template";

.month-article {
  color: $month-color;

  height: 240px;

  font-weight: 600;

  @media screen and (min-width: $sm) {
    height: 274px;

    margin-top: 1rem;
  }

  @media screen and (min-width: $md) {
    height: 309px;
  }

  @media screen and (min-width: $lg) {
    height: 344px;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
  }

  @media screen and (min-width: $xl) {
    height: 446px;
  }
}

.month-article,
.month-days-article {
  margin: auto;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;

  color: $accent-color;

  text-transform: uppercase;
}

.month-year {
  display: inline-block;

  @extend %date;
}

.year:hover {
  color: inherit;

  cursor: initial;
}

.title-week {
  color: $current;

  @extend %day-cell;
}
